<div class ="background">
    <div class = "row">
        <div class= "col-8">
            <img src = "../../assets/board.svg" class = "board"> 
        </div>
        <div class = "col-4">
            <div class="transbox">
                <h1>How to play</h1>
                <li>Players will alternate turns, and only one disc can be dropped each turn</li>
                <li>When it is your turn, you will drop your disc in any of the 7 slots</li>
                <li>A player wins if they have 4 pieces connecting in a row</li>
                <li>Pieces can be connected horizontally, vertically or adjacently</li>
            </div>
        </div>
    </div>
</div>
