.transbox {
    padding: 10px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

li {
    text-align: left;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: blue;
    background-size: 700px;
    width: 700px;
    height: 600px;
    padding: 15px;
}

.box {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

p {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}