.transbox {
    padding: 10px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
}

h1,
h3 {
    text-align: center;
}

li {
    text-align: left;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: blue;
    background-size: 700px;
    width: 700px;
    height: 600px;
    padding: 15px;
}

.box {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.turn {
    background-color: red;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 30px auto;
}

p {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.background {
    background: url(https://media1.thehungryjpeg.com/thumbs/800_3497898_c18e9c3d259fa39144069ce250402beabefa92e7.jpg);
    border: 50px solid black;
    height: 100%;
    padding: 20px;
}