<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-5">
    <div class="d-flex justify-content-center">
      <img src="assets/Connect4Logo.svg" style="width: 300px" class="block" alt="...">
    </div>
  </div>
  <div class="row mt-3">
    <div class="d-flex justify-content-center">
      <h1>Connect 4</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="d-flex justify-content-center">
      <h4>Current Rating: 501</h4>
    </div>
  </div>
  <div class="row mt-1">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary">New Game</button>
    </div>
  </div>
</div>