<div class="container center">
    <img src="assets/Connect4Logo.svg" class="rounded mx-auto d-block logo" alt="...">
    <h1 class="text-center">Connect 4</h1>
    <form (ngSubmit)="submitForm()" #newPlayerForm="ngForm" class="col-sm-4 mx-auto">
        <div class="form-group space">
            <label for="title">Username</label>
            <input class="form-control" type="text" name="user" id="p-user" [(ngModel)]="Player.Username" required
                #title="ngModel">
            <div *ngIf="newPlayerForm.controls['user']?.invalid && newPlayerForm.controls['user']?.touched">
                <span *ngIf="newPlayerForm.controls['user']?.errors?.['required']" class="help-inline error">Username is
                    required</span>
            </div>
        </div>
        <div class="form-group space">
            <label for="password">Password</label>
            <input class="form-control" type="text" name="password" id="p-password" [(ngModel)]="Player.Password"
                required #password="ngModel">
            <div *ngIf="newPlayerForm.controls['password']?.invalid && newPlayerForm.controls['password']?.touched">
                <span *ngIf="newPlayerForm.controls['password']?.errors?.['required']"
                    class="help-inline error">Password
                    is
                    required</span>
            </div>
        </div>
        <div class="form-group space">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form>
</div>