<app-navbar></app-navbar>
<div>
  <h1 class="col-md-6 offset-md-3 mt-4">Settings</h1>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="resetPasswordEmail">Account Email</label>
        <input
          type="email"
          name="email"
          ngModel
          required
          #email="ngModel"
          class="form-control"
          id="resetPasswordEmail"
          placeholder="Enter email"
        />
      </div>
      <div class="d-grid gap-2">
        <a type="submit" class="btn btn-outline-primary" type="submit">
          Reset Password
        </a>
        <a
          href="https://en.gravatar.com"
          class="btn btn-outline-primary"
          type="button"
        >
          Click Here to get or update your avatar by going to Gravatar
        </a>
      </div>
    </form>
  </div>
</div>
<form class="row g-3"></form>
